page-home {
  .isi{
    width: 100%;
    h2{
      margin-top: -10%;
      font-size: 10pt;
    }
    p{
      font-size: 8pt;
    }
  }

  ion-slides {
    height: 150px;
    margin-bottom: 0px !important;
  }
  .row-center img {

    margin:0 auto;
}

}
